<script type="text/javascript">
        function checkFuc(a, b) {
            //点击全选/全不选影响复选框状态
            $(a).click(function () {
                $(b).prop("checked", this.checked);
            });
            //复选框是否选中影响全选/全不选框状态-复选框的总数是否与选中的复选框数量相等
            $(b).click(function () {
                var $tmp = $(b);
                $(a).prop("checked", $tmp.length == $tmp.filter(":checked").length);
            });
        }

        //获取选中的checkbox的值
        function getList(a, b) {
            var myArray = new Array();
            var sendType;
            switch (a) {
                case "#checkAll01":
                    sendType = 1;
                    break;
                case "#checkAll02":
                    sendType = 2;
                    break;
                case "#checkAll03":
                    sendType = 3;
                    break;
                case "#checkAll04":
                    sendType = 1;
                    break;
                case "#checkAll05":
                    sendType = 2;
                    break;
                case "#checkAll06":
                    sendType = 3;
                    break;
            }
            if ($(a).is(":checked")) {
                var sendValue = -1;
                var a = new Object();
                a = {
                    sendType: sendType,
                    sendValue: sendValue,
                }
                myArray.push(a);
            } else {
                $(b).each(function () {
                    var sendValue = $(this).val();
                    var a = new Object();
                    a = {
                        sendType: sendType,
                        sendValue: sendValue,
                    }

                    myArray.push(a);
                });
            }
            return myArray;
        }

        //设置选中的checkbox的值
       function setList(data){

           //初始化复选框--均为未选中状态
           $("input[type=checkbox]").prop("checked",false);
           //根据后台传过来的值设置checkbox的状态
           for(var i in data){
               if(data[i].sendValue==-1){
                   switch (data[i].sendType) {
                       case 1:
                           $("#checkAll01").prop("checked", true);
                           $("input[name=storeType]:checkbox").prop("checked",true);
                           break;
                       case 2:
                           $("#checkAll02").prop("checked",true);
                           $("input[name=addrType]:checkbox").prop("checked",true);
                           break;
                       case 3:
                           $("#checkAll03").prop("checked",true);
                           $("input[name=organizationType]:checkbox").prop("checked",true);
                           break;
                   }
               }
               else {
                   switch (data[i].sendType) {
                       case 1:
                           $("input[name=storeType]:checkbox").each(function(){
                               if(data[i].sendValue==$(this).val()){
                                   $(this).prop("checked",true);
                               }
                           });
                           break;
                       case 2:
                           $("input[name=addrType]:checkbox").each(function(){
                               if(data[i].sendValue==$(this).val()){
                                   $(this).prop("checked",true);
                               }
                           });
                           break;
                       case 3:
                           $("input[name=organizationType]:checkbox").each(function(){
                               if(data[i].sendValue==$(this).val()){
                                   $(this).prop("checked",true);
                               }
                           });
                           break;
                   }
               }
           }
       }


        //设置范围筛选
       function scopeFunc() {
           var scopesList=eval($("#scopesList").val());
           var sendType=$("#sendType")
           var sendValue=$("#sendValue");
           $("select[name=sendType]").change(function () {
               var sendTypeVal=$(this).val();

               if(!sendTypeVal){
                   sendValue.html("<option value=''>-请选择-</option>");
               }
               for(var i=0;i<scopesList.length;i++){
                   if(sendTypeVal==scopesList[i].scopeId){
                       sendValue.empty();
                      var  html = '<option value="-1">全部</option>'
                       for(var j=0;j<scopesList[i].values.length;j++){
                           html +='<option value="'+scopesList[i].values[j].scopeId+'">'+scopesList[i].values[j].name+'</option>'
                       }
                       sendValue.html(html);
                   }
               }



           });
       }

</script>