<!--生成包装列表-->
<form class="form-horizontal  layer-template" method="" id="packedListForm" action="" style="display: none;">
    <div class="row">
        <div class="col-xs-5">
            <div class="table-responsive">
                <table class="table table-bordered table-striped ">
                    <thead>
                    <tr>
                        <th>包装序号</th>
                        <th style="display: none;">包装类型值</th>
                        <th style="display: none;">包装id</th>
                        <th style="display: none;">包装流水号</th>
                        <th>包装名称</th>
                        <th>包装类型</th>
                        <th>包装分类</th>
                        <th>包装产品</th>
                        <th>包装产品材料</th>
                        <th>重量</th>
                    </tr>
                    </thead>
                    <tbody class="packedList">
                    </tbody>
                </table>


            </div>
        </div>
        <div class="col-xs-7">
            <div class="table-responsive">
                <table class="table table-bordered table-striped packedListDetail">
                    <tbody><tr><td colspan="8" align="center">暂无结果</td></tr></tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <a class="btn btn-primary undoPackingBtn" onclick="">撤销包装</a>
            <a class="btn btn-primary margin-left-10  packedListBtn" onclick="">包装清单</a>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<!--END 生成包装列表-->
<!--生成包装清单-->
<div id="layer-form-package-confirm" style="display:none">
    <div class="row" >
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center">

                    <tbody>
                    <tr><td><a href="#">工件包装清单(Y)</a></td></tr>
                    <tr><td><a href="#">工件包装清单(X)</a></td></tr>
                    <tr><td><a href="#">工件包装清单(W)</a></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <a class="btn btn-primary" href="#">打印</a>
            <a class="btn btn-primary" href="#">预览</a>
        </div>
    </div>
</div>
<!--END 生成包装清单-->

<script type="text/javascript">

    $(document).ready(function () {

        //获取包装列表
        function getPackList(url) {
            $.ajax({
                url: url,
                method: 'put',
                success: function (data) {
                    console.log(data);
                    //var arry =eval("("+data+")");
                    var arry= JSON.parse(data);
                    console.log(arry);
                    console.log(arry.length);

                    if(arry.length==0){
                        $(".packedList").html("<tr><td colspan='8' align='center'>暂无结果</td></tr>");
                    }
                    else{
                        var frag=document.createDocumentFragment();
                        for(var i=0;i<arry.length;i++){
                            var tr=document.createElement("tr");
                            tr.innerHTML="<td>"+(i+1)+"</td><td style='display:none;'>"+arry[i].packageType+"</td><td style='display:none;'>"+arry[i].pacakgeNo+"</td><td style='display:none;'>"+arry[i].packageLid+"</td><td>"+arry[i].packageName+"</td><td>"+arry[i].packageTypeStr+"</td><td>"+arry[i].pacakgeCategoryStr+"</td><td>"+arry[i].packageProductStr+"</td><td>"+arry[i].packageProductMaterialStr+"</td><td>"+arry[i].weightStr+"</td>";
                            frag.append(tr);
                        }
                        $(".packedList").html(frag);
                    }
                    layer.open({
                        type: 1,
                        title: '包装单',
                        area: '1500px',
                        content: $('#packedListForm'),
                        cancel: function () {
                            //右上角关闭回调
                        },
                    });
                },
                error: function (response) {
                    layer.close();
                    var data = JSON.parse(response.responseText);
                    $.smallBox({
                        title: "操作失败",
                        content: data.msg,
                        color: "#C46A69",
                        iconSmall: "fa fa-times fa-2x fadeInRight animated",
                        timeout: 3000
                    });
                }
            });
        }


        //弹出生成包装后的包装列表
            var tid;//订单流水号
           // $(".toBePackedForm>tbody>tr").css("cursor","pointer");
            $(".toBePackedForm>tbody>tr>td").on({
                click: function (e) {
                    tid= $(this).parent().children().eq(1).text();
                    var pacStatus=$(this).parent().children().eq(13).text();
                    if(pacStatus=="已包装"){
                        if($(this).children("a").length==0){
                            getPackList( '/orders/package/'+tid);
                        }
                    }

                }
            });

        //点击“生成包装”按钮弹出的包装列表
        $(".crePackage").on({
            click: function (e) {
                tid= $(this).parent().parent().children().eq(1).text();
                layer.confirm('确定生成包装吗？',{icon: 3, title:'提示'},
                    function(index){
                     /*  setTimeout(function(){
                           getPackList( '/orders/package/'+tid)
                           layer.close(index)
                       },1000);*/
                        getPackList( '/orders/package/packet/'+tid)
                        layer.close(index)

                    },
                    function(index){layer.close(index)});

            }
        });

        //获取包装清单数据
        $(document).on("click",".packedList>tr",function(){
            var pid= $(this).children().eq(3).text();//获取包装流水号
            var type=$(this).children().eq(1).text();//获取包装类型1001-工件，1002-配件
            $(this).addClass("color01").siblings("tr").removeClass("color01");
            console.log(type);
            $.ajax({
                url: '/orders/package/pcaketlist/'+pid,
                method: 'put',
                success: function (data) {
                    var arry= JSON.parse(data);
                    console.log(arry);
                    if(arry.length==0){
                        $(".packedListDetail").html("<tr><td colspan='8' align='center'>暂无结果</td></tr>");
                    }
                    else if(type==1001){
                        var tHead="<thead><tr><td colspan='8'>包装工件</td></tr><tr><th></th><th>层数</th><th>材料</th><th>名称</th><th>规格尺寸</th><th>数量</th> <th>重量</th><th>封边</th></tr></thead>";
                        var frag="";
                        for(var i=0;i<arry.length;i++){
                            frag+="<tr><td></td><td>"+arry[i].layer+"</td><td>"+arry[i].material+"</td><td>"+arry[i].name+"</td><td>"+arry[i].standard+"</td><td>"+arry[i].amount+"</td><td>"+arry[i].weigth+"</td><td></td></td>";
                        }
                        frag+="<tr><td>总计</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>";
                        $(".packedListDetail").html(tHead+frag);
                    }
                    else{
                        var tHead="<thead><tr><td colspan='8'>包装配件</td></tr><tr><th></th><th>单位</th><th>编号</th><th>名称</th><th>规格尺寸</th><th>数量</th> <th>重量</th><th>封边</th></tr></thead>";
                        var frag="";
                        for(var i=0;i<arry.length;i++){
                            frag+="<tr><td></td><td>"+arry[i].unitStr+"</td><td>"+arry[i].code+"</td><td>"+arry[i].name+"</td><td>"+arry[i].standard+"</td><td>"+arry[i].amount+"</td><td>"+arry[i].weigth+"</td><td></td></td>";
                        }
                        frag+="<tr><td>总计</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>";
                        $(".packedListDetail").html(tHead+frag);
                    }

                },
                error: function (response) {
                    layer.close(index);
                    var data = JSON.parse(response.responseText);
                    $.smallBox({
                        title: "操作失败",
                        content: data.msg,
                        color: "#C46A69",
                        iconSmall: "fa fa-times fa-2x fadeInRight animated",
                        timeout: 3000
                    });
                }
            });
        });
        //撤销包装按钮
        $(document).on("click",".undoPackingBtn",function(){
            layer.confirm('确定撤销包装吗？',{icon: 3, title:'提示'},
                function(index){
                   console.log(tid);
                    $.ajax({
                        url: '/orders/package/unpacket/'+tid,
                        method: 'put',
                        success: function (data) {
                            window.location.reload();
                        }
                    });
            },
                function(index){layer.close(index)})
        });
        //包装清单按钮
        $(document).on("click",".packedListBtn",function(){
            layer.open({title:'包装清单',type:1,area:['400px','250px'],content:$('#layer-form-package-confirm')});
        });


    })

</script>

