<body class="animated fadeInDown">

<header id="header">

    <div id="logo-group">
        <span id="logo"> <p>布兰莎 - 定制家具</p> </span>
    </div>

</header>

<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">
