<body class="animated fadeInDown">
<article id="fix-alert">
    <div class="alert alert-warning">
        <button class="close" id="alertClose">
            ×
        </button>
        <i class="fa-fw fa fa-warning"></i>
        <strong>提示</strong> 为了最佳体验效果，请使用谷歌浏览器
    </div>
</article>
<header id="header">

    <div id="logo-group">
        <span id="logo"> <p>布兰莎 - 定制家具</p> </span>
    </div>

</header>

<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">
