<body class="animated fadeInDown">
<article id="fix-alert">
    <div class="alert alert-warning">
        <button class="close" id="alertClose">
            ×
        </button>
        <i class="fa-fw fa fa-warning"></i>
        <strong>提示</strong> 为了最佳体验效果，建议您使用非IE浏览器，推荐使用以下浏览器
        <ul class="browser-icon">
            <li> <a href=""><img  src="img/asset/google.png">谷歌</a></li>
            <li> <a href=""><img  src="img/asset/firefox.png">火狐</a></li>
            <li> <a href=""><img  src="img/asset/qq.png">QQ浏览器</a></li>
        </ul>
    </div>
</article>
<header id="header">

    <div id="logo-group">
        <span id="logo"> <p>布兰莎 - 全屋定制</p> </span>
    </div>


</header>

<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">
