<form class="form-horizontal  layer-template" method="post" id="rechargeArea" action="" >

    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span> 充值金额:</label>
            <div class="col-xs-8">
                <input class="form-control validate[required]" data-prompt-position="bottomLeft:20,5"
                       value="" name="">
                <span code-data="元" class="unit"></span>
            </div>

        </div>

    </div>
    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label"> 备注:</label>
            <div class="col-xs-8">
                <textarea name="reason" class="form-control" cols="30" rows="5"></textarea>
            </div>

        </div>
    </div>
    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit" id="submit">
                确认充值
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>

<form class="form-horizontal  layer-template" method="post" id="receiptArea" action="" >

    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span> 收款金额:</label>
            <div class="col-xs-8">
                <input class="form-control validate[required]" data-prompt-position="bottomLeft:20,5"
                       value="" name="">
                <span code-data="元" class="unit"></span>
            </div>

        </div>

    </div>
    <div class="col-xs-12">

        <div class="form-group">
            <label class="col-xs-2 control-label"> 备注:</label>
            <div class="col-xs-8">
                <textarea name="reason" class="form-control" cols="30" rows="5"></textarea>
            </div>

        </div>
    </div>
    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit" id="submit">
                确认收款
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>

<script type="text/javascript">

    $(document).ready(function () {

        $("#rechargeArea").validationEngine();
        $("#receiptArea").validationEngine();

        //弹出类
        $('#recharge').on({
            click: function (e) {
                layer.open({
                    title: false,
                    type: 1,
                    area: '700px',
                    content: $('#rechargeArea'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })

        $('#receipt').on({
            click: function (e) {
                layer.open({
                    title: false,
                    type: 1,
                    area: '700px',
                    content: $('#receiptArea'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })


    })

</script>