
<!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">布兰莎<span class="hidden-xs"> - 全屋定制订单系统</span> © 2017</span>
            <span class="txt-color-white margin-left-20">  由杭州丫投网络科技有限公司研发</span>
        </div>


    </div>
</div>
<!-- END PAGE FOOTER -->