<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">

    <title> 布兰莎 - 订单数据系统</title>
    <!--if (typeof title != 'undefined' && title) { -->
    <!--title -->
    <!--}else{ -->
    <!--订单数据系统-->
    <!--} -->
    <meta name="description" content="">

    <meta name="author" content="{{author}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-rtl.min.css">


    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/fancyBox/source/jquery.fancybox.css">

    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/jQuery-Validation-Engine/css/validationEngine.jquery.css">



    <link rel="stylesheet" href="/vendor/flatpickr/dist/flatpickr.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update. -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/your_style.css">
    <link rel="stylesheet" href="/css/print.css" media="print" />