<body class="fixed-header fixed-navigation fixed-page-footer smart-style-2">

<!-- #HEADER -->
<header id="header">
    <!--<div id="logo-group">-->

    <!--&lt;!&ndash; PLACE YOUR LOGO HERE &ndash;&gt;-->
    <!---->
    <!--&lt;!&ndash; END LOGO PLACEHOLDER &ndash;&gt;-->


    <!--&lt;!&ndash; END AJAX-DROPDOWN &ndash;&gt;-->
    <!--</div>-->
    <div style="color: #fff;line-height: 30px;padding: 10px 30px;font-size: 24px;width: 400px;font-style: italic;">布兰沙 -
        订单管理系统
    </div>

    <!-- #TOGGLE LAYOUT BUTTONS -->
    <!-- pulled right: nav area -->
    <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i
                            class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->

        <div id="hide-menu" class="btn-header pull-right">
            <span>
                <a href="/user/setPassword" title="修改密码">
                    <i class="fa fa-cog"> <span style="font-size: 14px;">修改密码</span></i>
                </a>
            </span>
        </div>

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span>  <a href="\login" title="登出" data-action="userLogout"
                       data-logout-msg="点击 Yes 确认退出">
                    &nbsp;<i
                            class="fa fa-sign-out"> <span style="font-size: 14px;">退出登录</span></i> &nbsp;</a> </span>
        </div>
        <!-- end logout button -->


    </div>
    <!-- end pulled right: nav area -->
    <!--error message layer-->
    <input type="hidden" name="dwy-message-type" value="<%= DWY_message.type %>">
    <input type="hidden" name="dwy-message-info" value="<%= DWY_message.msg %>">
    <input type="hidden" name="dwy-message-sign" value="<%= DWY_message.sign %>">
</header>
<!-- END HEADER -->
