<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    <div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it -->
                    <a>欢迎您!</a>
					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                        <span>
							<%= user.name %>
                            (
                            <% user.role.forEach(function (element) { %>
                            <%= element.name %>
                            <% }) %>
                            )
						</span>
                    </a>

				</span>
    </div>
    <!-- end user info -->

    <!-- NAVIGATION : This navigation is also responsive-->
    <nav>
        <ul class="menu-list">
            <!--<li>-->
            <!--<a href="/storeCenter" title="门店中心"><i class="fa fa-lg fa-fw fa-home"></i> <span-->
            <!--class="menu-item-parent">门店中心</span></a>-->
            <!--</li>-->
            <li>
                <a href="/" title="个人中心"><i class="fa fa-lg fa-fw fa-angle-right"></i> <span
                            class="menu-item-parent">个人中心</span></a>
            </li>
            <li>
                <a href="/customers" title="客户查询"><i class="fa fa-lg fa-fw fa-angle-right"></i> <span
                            class="menu-item-parent">客户查询</span></a>
            </li>
            <li>
                <a href="/networkBook" title="网络预约"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">网络预约</span></a>
            </li>
            <li>
                <a href="/supplier" title="供应商管理"><i class="fa fa-lg fa-fw fa-angle-right"></i> <span
                            class="menu-item-parent">供应商管理</span></a>
            </li>
            <li>
                <a href="/purchase" title="采购管理"><i class="fa fa-lg fa-fw fa-angle-right"></i> <span
                            class="menu-item-parent">采购管理</span></a>
            </li>
            <li>
                <a href="/taskseqs" title="流水查询"><i class="fa fa-lg fa-fw fa-angle-right"></i> <span
                            class="menu-item-parent">流水查询</span></a>
            </li>
            <li>
                <a href="/orders" title="订单查询"><i class="fa fa-lg fa-fw fa-angle-right"></i> <span
                            class="menu-item-parent">订单查询</span></a>
            </li>
            <!--<li>-->
                <!--<a href="/order/permit" title="订单许可"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span-->
                            <!--class="menu-item-parent">订单评估</span></a>-->
            <!--</li>-->
            <li>
                <a href="/order/check/waitOrder" title="订单审核"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">订单审核</span></a>
            </li>
            <li>
                <a href="/apart" title="订单拆单"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">订单拆单</span></a>
            </li>
            <li>
                <a href="/apart/check" title="拆单审核"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">拆单审核</span></a>
            </li>
            <li>
                <a href="/orders/nesting" title="订单排料"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">订单排料</span></a>
            </li>
            <li>
                <a href="/orders/package" title="订单包装"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">订单包装</span></a>
            </li>
            <li>
                <a title="货位查看"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">货位查看</span></a>
            </li>
            <li>
                <a title="包装入库"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">包装入库</span></a>
            </li>
            <li>
                <a title="电子入库"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">电子入库</span></a>
            </li>
            <li>
                <a title="入库校验"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">入库校验</span></a>
            </li>
            <li>
                <a href="/orders/resupplys" title="查询补单"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">查询补单</span></a>
            </li>
            <li>
                <a href="/orders/resupplys/accept" title="补单受理"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">补单受理</span></a>
            </li>
            <li>
                <a href="/orders/resupplys/apart" title="补单拆单"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">补单拆单</span></a>
            </li>
            <li>
                <a href="/materialManage" title="物料管理"><i class="fa fa-lg fa-fw fa-angle-right"></i> <span
                            class="menu-item-parent">物料管理</span></a>
            </li>
            <li>
                <a href="/factory" title="仓储管理"><i class="fa fa-lg fa-fw fa-angle-right"></i> <span
                            class="menu-item-parent">仓储管理</span></a>
            </li>


            <li>
                <a title="物流管理"><i class="fa fa-lg fa-fw fa-angle-right"></i> <span
                            class="menu-item-parent">物流管理</span></a>
            </li>
            <li>
                <a href="/organizations/employees?bid=<%= user.bid %>" title="柜员管理"><i
                            class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">柜员管理</span></a>
            </li>
            <li>
                <a href="/storesManage" title="门店管理"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">门店管理</span></a>
            </li>
            <li>
                <a href="/agency" title="机构管理"><i class="fa fa-lg fa-fw  fa-angle-right"></i> <span
                            class="menu-item-parent">机构管理</span></a>
            </li>


        </ul>
    </nav>

</aside>
<!-- END NAVIGATION -->