<form class="form-horizontal layer-template" method="post" action="/outBred/upload" id="file-order">
    <div class="col-xs-12">

        <div class="col-xs-8">
            <div class="form-group">
                <label class="col-xs-3 control-label"><span class="requird"></span> 文件地址:</label>
                <div class="col-xs-9">
                    <input class="form-control validate[required]" readonly value="/2017/9997/00002开料表.xlsx"
                           name="savePath" data-prompt-position="bottomLeft:20,5">
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="col-xs-12 text-left">
                <label for="dwy_file_upload" class="btn btn-primary" id="label-upload-file">

                    添加文件 <i class="fa fa-upload"></i> </label>
                <input type="file" name="file_name" id="dwy_file_upload" style="display: none;">
            </div>
        </div>

        <!--<input type="hidden" name="fileName" value="">-->
        <!--<input type="hidden" name="fileSize" value="">-->
        <input type="hidden" name="fileExt" value="xlsx">

    </div>
    <div class="col-xs-12">

        <div class="col-xs-8">
            <div class="form-group">
                <label class="col-xs-3 control-label"><span class="requird"></span> sheet位置:</label>
                <div class="col-xs-9">
                    <input class="form-control validate[required]" name="sheetNo">
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-8">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit">
                <i class="fa fa-upload"></i>
                确认上传
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>



<script type="text/javascript">

    $(document).ready(function () {

        $("#file-order").validationEngine({scroll: false});

        pageSetUp();


        $('#dwy_file_upload').on({
            change: function (e) {
                var _this = $(this);
                var label = $("#label-upload-file");
                var formData = new FormData();

                formData.append('file_name', _this.prop('files')[0])

//            console.log(window.aaa = formData);
                label.html('上传中 <i class="fa fa-circle-o-notch fa-spin">');
                label.attr('disabled', true);


                $.ajax({
                    url: '/template/upload/single',
                    data: formData,
                    type: 'POST',
                    // THIS MUST BE DONE FOR FILE UPLOADING
                    processData: false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
                    contentType: false, // 不设置Content-type请求头
                    // ... Other options like success and et
                    success: function (data) {
                        label.attr('disabled', false);
                        if (data.code == 200) {
//                            var fileName = $('[name=fileName]').val(data.data.name);
//                            var fileSize = $('[name=fileSize]').val(data.data.size);
                            var savePath = $('[name=savePath]').val(data.data.url);
                            var fileExt = $('[name=fileExt]').val(data.data.ext);
                            label.html('上传成功 <i class="fa fa-check">');

                        } else {
                            label.html('上传失败 <i class="fa fa-times">');
                        }
                    },
                    error: function () {
                        label.attr('disabled', false);
                        label.html('上传失败 <i class="fa fa-times">');
                    }
                })
            }
        })



        //弹出类
        $('#import').on({
            click: function (e) {
                layer.open({
                    title: false,
                    type: 1,
                    area: '700px',
                    content: $('#file-order'),
                    cancel: function () {
                        //右上角关闭回调
                    },

                });
            }
        })

    })

</script>