<%
if(result&&result.length>0){
result.forEach(function (element, index) { %>
<tr id="<%= element.id%>" stcode="<%= element.stcode%>" parentId="<%= element.parentId%>">
    <td ><input class="border-0 text-align-center" type="text" value="<%= element.name%>" name="name" readonly/></td>
</tr>
<%  })
}else{%>
<tr class="noData"><td>暂无数据，请选择新建</td></tr>
<% } %>


