@charset "utf-8";
/* CSS Document */
/* 样式重置 */
ul,ol,li,h1,h2,h3,h4,h5,h6,form,body,html,p,input
{ 
	margin:0; 
	padding:0; 
}
:link,:visited { 
	text-decoration:none; 
}
ul,ol { 
	list-style:none; 
}
h1,h2,h3,h4,h5,h6,pre,code { 
	font-size:1em; 
}		
html,body{
	font-family: SimHei;
	width:100%;
	height: 100%;
	background: url("../img/os_bg.jpg") center center no-repeat;
	background-size: 100% 100%;
}


/* 浮动 */
.floatl{
	float:left;
}
.floatr{
	float:right;
}
/*清除浮动*/
.clearfix::after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
} 
.clearfix{
	zoom:1;
}

/* container 页面主体 */

.os_form_box{
	width: 480px;
	height: 425px;
	z-index: 999;
	position: relative;
	overflow: hidden;
}
.os_name{
	width: 300px;
	height: 50px;
	margin: 70px 90px 0;
	background: #eeeeee;
	border-radius: 25px;
}
.os_name_icon{
	width: 50px;
	height: 50px;
	background: url("../img/name.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 4px;
}
#login-form .os_username{
	width: 200px;
	height: 40px;
	margin: 5px 0;
	border:none;
	outline: none;
	background: transparent;
	font-size: 18px;
	text-indent: 5px;
}
.os_userpass{
	width: 300px;
	height: 50px;
	margin: 32px 90px 0;
	background: #eeeeee;
	border-radius: 25px;
}
.os_password_icon{
	width: 50px;
	height: 50px;
	background: url("../img/password.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 4px;
}
#login-form .os_password{
	width: 200px;
	height: 40px;
	margin: 5px 0;
	border:none;
	outline: none;
	background: transparent;
	font-size: 18px;
	text-indent: 5px;
}
.os_ver_code{
	width: 300px;
	height: 50px;
	margin: 30px 90px 0;
	background: #eeeeee;
	border-radius: 25px;	
}
.os_vercode_icon{
	width: 50px;
	height: 50px;
	background: url("../img/code.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 4px;
}
#login-form .os_usercode{
	width: 100px;
	height: 40px;
	margin: 5px 0;
	border:none;
	outline: none;
	background: transparent;
	font-size: 18px;
	text-indent: 5px;
}
.os_verification_code{
	width: 120px;
	height: 50px;
	background: #abcdef;
	cursor: pointer;
}
.os_submit_box{
	width: 164px;
	height: 50px;
	margin: 35px auto 0;
}
.os_submit{
	width: 164px;
	height: 50px;
	border-radius: 25px;
	background: #eee;
	border:none;
	outline: none;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	color: #7f7f7f;
	cursor: pointer;
}

@media screen and (min-width:1200px){
	.os_container{
		width: 100%;
		height: 100%;
		position: relative;
		background: url("../img/os_bg.jpg") center center no-repeat;
		background-size: 100% 100%;
		min-width: 1200px;
	}
	.os_container span{
		display: block;
	}
	.os_logo{
		width: 124px;
		height: 120px;
		background: url("../img/os_logo.jpg") center center no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 0;
		left: 10%;
	}
	.os_main_bg{
		width: 100%;
		height: 425px;
		position: absolute;
		bottom: 20%;
		background: #db8900;	
	}
	.os_form_bgbox{
		width: 1200px;
		height: 425px;
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;	
	}
	.os_form_bg{
		width: 480px;
		height: 425px;
		background: #e99201;
		position: absolute;
		top:0;
		left: 220px;
	}
	.os_spoker{
		width: 580px;
		height: 680px;
		background: url("../img/os_spoker.png") center bottom no-repeat;
		background-size: 100% auto;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.os_main{
		width: 100%;
		height: 425px;
		position: fixed;
		bottom: 20%;
	}
	.os_main_box{
		width: 1200px;
		height: 425px;
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.os_title{
		width: 403px;
		height: 109px;
		background: url("../img/os_title.png") center center no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top:-160px;
		left: 258px;
	}
	.os_cheng{
		width: 480px;
		height: 425px;
		position: absolute;
		top:0;
		left: 220px;	
	}

}

@media screen and (min-width: 960px) and (max-width: 1199px) {
	.os_container{
		width: 100%;
		height: 100%;
		position: relative;
		background: url("../img/os_bg.jpg") center center no-repeat;
		background-size: 100% 100%;
	}
	.os_container span{
		display: block;
	}
	.os_logo{
		width: 124px;
		height: 120px;
		background: url("../img/os_logo.jpg") center center no-repeat;
		background-size: 100% 100%;
		position: absolute;
		top: 0;
		left: 10%;
	}
	.os_main_bg{
		width: 100%;
		height: 425px;
		position: absolute;
		top: 30%;
		background: #db8900;	
	}
	.os_form_bgbox{
		width: 480px;
		height: 425px;
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;	
	}
	.os_form_bg{
		width: 480px;
		height: 425px;
		background: #e99201;
		position: absolute;
		top:0;
		left: 0px;
	}
	.os_spoker{
		width: 350px;
		height: 400px;
		background: url("../img/os_spoker.png") center bottom no-repeat;
		background-size: 100% auto;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.os_main{
		width: 100%;
		height: 425px;
		position: fixed;
		top: 30%;
	}
	.os_main_box{
		width: 480px;
		height: 425px;
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.os_title{
		width: 300px;
		height: 109px;
		background: url("../img/os_title.png") center center no-repeat;
		background-size: 100% auto;
		position: absolute;
		top:-100px;
		left: 90px;
	}
	.os_cheng{
		width: 480px;
		height: 425px;
		position: absolute;
		top:0;
		left: 0;	
	}
}
@media screen and (max-width: 959px) {
	.os_container{
		width: 100%;
		height: 100%;
		position: relative;
		background: url("../img/os_bg.jpg") center center no-repeat;
		background-size: 100% 100%;
	}
	.os_container span{
		display: block;
	}
	.os_logo{
		width: 100px;
		height: 120px;
		background: url("../img/os_logo.jpg") center top no-repeat;
		background-size: 100% auto;
		position: absolute;
		top: 0;
		left: 10%;
	}
	.os_spoker{
		width: 280px;
		height: 320px;
		background: url("../img/os_spoker.png") center bottom no-repeat;
		background-size: 100% auto;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.os_main{
		width: 100%;
		height: 425px;
		position: fixed;
		bottom: 15%;
	}
	.os_main_box{
		width: 480px;
		height: 425px;
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.os_title{
		width: 300px;
		height: 109px;
		background: url("../img/os_title.png") center center no-repeat;
		background-size: 100% auto;
		position: absolute;
		top:-120px;
		left: 90px;
	}
	.os_main_bg{
		width: 100%;
		height: 425px;
		position: absolute;
		bottom: 15%;
		background: #db8900;	
	}
	.os_form_bgbox{
		width: 480px;
		height: 425px;
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;	
	}
	.os_form_bg{
		width: 480px;
		height: 425px;
		background: #e99201;
		position: absolute;
		top:0;
		left: 0px;
	}
}