.printBody{
    padding:20px;
    margin-bottom: 0;
    page-break-before: always;
}
.printBody table {
    width: 100%;
    margin-bottom: 18px;
}
.printBody table td{
    border: 1px solid #ddd;
    padding: 8px 10px;
    margin: 0;
}
.pri-a4{

}