
table {
  border-collapse: collapse !important
}

.table td, .table th {
  background-color: #fff !important;
}

.table-bordered > thead > tr > th {
  border: 1px solid #333
}



.printBody {
  padding: 0;
  margin-bottom: 0;
  page-break-before: always;
}

.printBody table {
  width: 100%;
  margin-bottom: 18px;
}
.table-print{
  border: none;
}
.table-print thead tr{
  background: none;
}
.table-print>thead>tr>th{
  border: none;
}
.table-print tbody{
  border: 1px solid #333;
}
.printBody table td {
  border: 1px solid #333;
  padding: 8px 3px;
  margin: 0;
}
.table-print table, .table-print table body{
  border: none;
}
hr{

  border-top:3px  dotted #000 !important;
}
.font-blod{
  font-weight: bold;
}
.pri-a4 {

}
.nopadding-table table td{
  /*padding: 0 !important;*/
  padding:0;
}

.table-print2 tbody{
  border:none;
}
.contract-title{
  width:100%;
}
.contract-title h1{
  text-align:center;
}
.contract-title p{
  text-align:right;
}
.priceLine{
  border-bottom:1px solid #000;
  padding:5px;
}
.table-bordered2 > tbody > tr > td {
  border: 1px solid #333;
  width:10%;
  text-align:center;
}
.table-print2:last-child>tbody>tr>td:nth-child(odd){
  width: 100px
}
.table-print2:last-child>tbody>tr:nth-of-type(2)>td:nth-child(odd){
  width: 25%;
}
.table-print>thead>tr.allList>th{
  border:1px solid #ddd !important;
}
.table-print3 tbody,.table-print3 tr,.table-print3 tr td{
  text-align: center;
}
.packageTable>tbody>tr>td,.packageTable2>tbody>tr>td,.packageTablePadding0>tbody>tr>td{
  padding:0;
  margin:0;
}

/*最初版样式*/
.packageTablePadding1>tbody>tr>td{
line-height: 14px;
}
.packageTable tr{
height:14.5px;
box-sizing: border-box;
}
.packageTable tr:first-of-type{
height:14px!important;
}
.packageTable2 tr{
box-sizing: border-box;
}
.packageTable2 tr:first-child td{
height:36px;
}
.packageTable2 tr:nth-of-type(2) td{
height:24px;
}
.packageTable2 tr:nth-of-type(3){
height:15px;
}
.packageTable2 tr:last-child{
height:37px;
}
.packageBorder tr:last-child td{
border-bottom:0;
}

/*第二版样式*/
.packageTablePadding0>tbody>tr{
  box-sizing: border-box;
}
.packageTablePadding0>tbody>tr.setHeight{
  height:25px !important;
}
.packageTablePadding0>tbody>tr.setHeight td{
  font-size:8px;
}

/*第三版样式*/
.printBody .tableWidth{
  width:540px;
}
.packageTableLeft,.packageTableRight>tbody>tr{
  box-sizing: border-box;
}
.packageTableLeft>tbody>tr>td,.packageTableRight>tbody>tr>td{
  padding:0;
  margin:0;
  font-size:8px;
}
.packageTableLeft,.packageTableRight{
  height:200px;
  margin-bottom:0;
  float:left;
}
.printBody .packageTableLeft{
  width:240px;
  border-right:0;
}
.printBody .packageTableRight{
  width:300px;
}
.packageTableRight .setHeightThird td{
  height:20px !important;
  border-left:0;
}
.packageTableLeft .font18{
  font-size:18px;
}