#main {
    min-width: 1420px;
    background: #fff;
}

.smart-style-2 nav > ul > li > a {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 98%;
}

nav ul span.menu-item-parent {
    font-size: 14px;
}

.well {
    padding: 10px 15px;
}

.search-form {
    width: 1200px;
    float: none;
    /*margin: auto;*/
    padding-top: 20px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.tight-left[class^="col-xs"] {
    padding-left: 5px;
}

.tight-right[class^="col-xs"] {
    padding-right: 5px;
}

.search-form > form > div > div {

}

#content {
    min-height: 800px;
}

/*展示型内容*/
.dwy-show-well {
    overflow-x: scroll;
}

.dwy-show-content {
    /*min-width: 1480px;*/
    width: 1400px;
}

/*global*/

.ml-20 {
    margin-left: 20px;
}

.from-to{
    float: left;
}

.mark-row {
    background: #fdcc9c !important;
}

.flatpickr-input[readonly] {
    background-color: #fff;
}

.table-information tr td:nth-of-type(2n+1) {
    background: rgba(216, 212, 212, 0.5);

}

.table-noneinf tr td:nth-of-type(2n+1) {
    background: transparent;
}

.order-number {
    margin-right: 20px;
}

.tab-operate {
    margin-left: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

/*必填项标记*/
.requird {

}

.requird:before {
    content: "*";
}

.unit {
    position: absolute;
    right: 0;
    top: 8px;
}

.unit:after {
    content: attr(code-data);
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.unit-insert {
    position: absolute;
    right: 15px;
    top: 8px;
    background: #fff;
    color: #8e8a8a;
}

.label {
    font-size: 10px;
    padding: 4px 6px;
    border: none;
    text-shadow: none;
    border-radius: 3px;
    font-weight: 200;
    margin-left: 10px;
}

.label-primary {
    background-color: #3b9ff3;
    border-color: #3292E2;
    color: white;
}

.label-primary:hover {
    background-color: #3E90D4;
    border-color: #2F7DBE;
}

.label-primary[href]:focus, .label-primary[href]:hover {
    background-color: #3E90D4;
    border-color: #2F7DBE;
}

.label-success {
    background-color: #5cb85c;
}

.label-danger {
    background-color: #d9534f;
}

/*thead>tr>th{*/
/*text-align: center;*/
/*}*/

.layer-template {
    display: none;
    padding: 20px;
}

.dwy-clear {
    clear: both;
}

.layer-template {
    display: none;
    padding: 20px;
}

.dwy-clear {
    clear: both;
}

.dwy_image img {
    width: 300px;
    height: auto;

}

.dwy-image-layer img:hover {
    -webkit-box-shadow: 0px 3px 4px 0px rgba(206, 206, 206, 0.75);
    -moz-box-shadow: 0px 3px 4px 0px rgba(206, 206, 206, 0.75);
    box-shadow: 0px 3px 4px 0px rgba(206, 206, 206, 0.75);
}

.dwy-image-layer img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #eee;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(126, 206, 244, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(126, 206, 244, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(126, 206, 244, 0.75);
}

.dwy-image-layer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.smart-style-2 .login-info a span {
    max-width: 200px;
}

.login-info > span {
    height: auto;
}

.footer-btn-div {
    position: fixed;
    /*margin-bottom: 70px;*/
    padding: 10px;
    bottom: 52px;
    width: 100%;
    background: #fff;
    z-index: 999;
}

.close-info {
    background-color: rgba(244, 244, 244, 1);
    color: #999999;
}

.table-expand a {
    padding: 10px;
    cursor: pointer;
}
.disabletr{
    background: #eee;
}
.table-expand .level-1-title {
    padding-left: 40px;
    color: #5a5a5a;
}

.separation {
    border-right: 1px #928c8c solid;
    padding: 0 5px;
    white-space: nowrap;
}

tr > td > .separation:last-child {
    border-right: none;
}

.divider {
    margin: 0 6px;
    display: inline-block;
    height: 8px;
    width: 1px;
    background: #ccc;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-left-5 {
    padding-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.smart-style-2 .btn-warning, .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.employee-info .text-left {
    color: #999999;
}

.upimg-input {
    width: 80px;
    border: none;
    background: transparent;
}

.to-block {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}

.orderItemLayerTit > ul {
    padding: 0;
}

.orderItemLayerTit > ul li {
    list-style: none;
    float: left;
    padding: 2px 5px;
    text-align: left;
    cursor: pointer;
}

.orderItemMenu li.selected {
    color: #169BD5;
}

.btn-primary-other {
    background: #fff;
    color: #333;
    border: 1px solid #797979;
}

.orderItemButton button {
    margin: 0 20px;
    padding: 10px 56px;
}
.spanStyle01{
    font-size: 14px;
    display: inline-block;
    margin: 0px 40px;
}
#step2{
    display:none;
}
.strongStyle01 strong{
    display: inline-block;
    margin-left:15px;
}
.padding-left-0{
    padding-left: 0px;
}

.deleteInco{
    background-color: #d9534f;
    padding: 4px 6px;
    border-radius: 10px;
    color: #fff;
    margin-left: 10px;
    line-height: 32px;
    cursor: pointer;
}
.deleteInco:hover{
    background-color: #ef514c;
    color: #fff;

}