#main {
    min-width: 1420px;
    background: #fff;
}
.smart-style-2 nav > ul > li > a {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 98%;
}

nav ul span.menu-item-parent {
    font-size: 14px;
}

.well {
    padding: 10px 15px;
}

.search-form {
    width: 1200px;
    float: none;
    margin: auto;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.tight-left[class^="col-xs"] {
    padding-left: 5px;
}

.tight-right[class^="col-xs"] {
    padding-right: 5px;
}

.search-form > form > div > div {

}

#content {
    min-height: 800px;
}

.mark-row{
    background: #fdcc9c;
}


.flatpickr-input[readonly] {
    background-color: #fff;
}

.table-information tr td:nth-of-type(2n+1){
    background: rgba(216, 212, 212, 0.5);

}
.table-noneinf tr td:nth-of-type(2n+1){
    background: transparent;
}
.order-number{
    margin-right: 20px;
}
.tab-operate{
    margin-left: 20px;
}
.margin-left-20{
    margin-left: 20px;
}


/*必填项标记*/
.requird{

}
.requird:before{
    content: "*";
}
.unit {
    position: absolute;
    right: 0;
    top: 8px;
}

.unit:after {
    content: attr(code-data);
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}
.unit-insert{
    position: absolute;
    right: 15px;
    top: 8px;
    background: #fff;
    color: #8e8a8a;
}

.label {
    font-size: 10px;
    padding: 4px 6px;
    border: none;
    text-shadow: none;
    border-radius: 3px;
    font-weight: 200;
    margin-left: 10px;
}
.label-primary {
    background-color: #3b9ff3;
    border-color: #3292E2;
    color: white;
}
.label-primary:hover {
    background-color:#3E90D4;
    border-color:#2F7DBE;
}
.label-primary[href]:focus,.label-primary[href]:hover{
    background-color:#3E90D4;
    border-color:#2F7DBE;
}
.label-success {
    background-color: #5cb85c;
}
/*thead>tr>th{*/
    /*text-align: center;*/
/*}*/

.layer-template{
    display: none;
    padding: 20px;
}
.dwy-clear {
    clear: both;
}



.layer-template {
    display: none;
    padding: 20px;
}

.dwy-clear {
    clear: both;
}

.dwy_image img {
    width: 300px;
    height: auto;

}

.dwy-image-layer img:hover {
    -webkit-box-shadow: 0px 3px 4px 0px rgba(206, 206, 206, 0.75);
    -moz-box-shadow: 0px 3px 4px 0px rgba(206, 206, 206, 0.75);
    box-shadow: 0px 3px 4px 0px rgba(206, 206, 206, 0.75);
}

.dwy-image-layer img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #eee;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(126, 206, 244, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(126, 206, 244, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(126, 206, 244, 0.75);
}

.dwy-image-layer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


.smart-style-2 .login-info a span {
    max-width: 200px;
}

.login-info>span{
    height:auto;
}