<form id="assignInstallGroup" class="col-xs-12 layer-template" action="" method="">
    <div class="col-xs-12">
        <div class="col-xs-2 margin-top-10 text-center">
            安装组名称:
        </div>
        <div class="col-xs-6">
            <select class="form-control validate[required] did">
                <option value="">--请选择--</option>
                <%
                if(DWY_Helper.isCanLoop(installGroup)){
                installGroup.forEach(function (element, index) { %>
                <option value="<%= element.did %>" class="selectInstallGroup"><%= element.bname %>—<%= element.dname %></option>
                <%})}%>
            </select>
            <input type="hidden" value="" name="tidVal">
        </div>
    </div>
    <div class="col-xs-12 text-center margin-top-10">
        <button class="btn btn-primary margin-top-10" id="confirmAssign">确认指定</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        $(".fg-date-picker").flatpickr(data_time_picker.data_picker); // jQuery
        $("#assignInstallGroup").validationEngine({scroll: false});


        $("#confirmAssign").on({
            click:function(){
                var tid=$("input[name=tidVal]").val().replace(/[ ]/g,"");
                tid = tid.substring(0,tid.length-1);
                var did=$(".did option:selected").val();
                layer.confirm('确认指定?',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/installServiceTask/'+tid+'/'+did,
                            method: 'post',
                            success: function (data) {
                                location.href="/installService";
                            },
                            error: function (response) {
                                layer.close(index)
                                errorLayout.normal(response);
                            }
                        });
                    },
                    function(index){layer.close(index)}
                )
            }
        })
    })
</script>