<script type="text/javascript">

    $(document).ready(function () {
        var supplierParentSelect = $('#supSortId');
        var supplierChildSelect = $('#supSortChildId');
        supplierParentSelect.change(function () {
            var ftyId = $(this).val();
            if(!ftyId){
                supplierChildSelect.html('<option value="">- 请选择 -</option>');
                return
            }
            $.ajax({
                url: '/supplier/create/'+ftyId,
                method: 'get',
                success: function (data) {
                    var arry = eval(data);
                    supplierChildSelect.empty();
                    var html = '<option value="">- 请选择 -</option>';
                    if(arry.length == 0){
                        html = '<option value="">暂无分类</option>'
                    }else{
                        for(var i=0;i<arry.length;i++){
                            html +='<option value="'+arry[i].id+'">'+arry[i].name+'</option>';
                        }
                    }
                    supplierChildSelect.html(html);
                },
                error: function (response) {
                    errorLayout.normal(response);
                }
            });
        })


        //启用/禁用供应商
        $(".on-off-switch").on({
            click: function () {
                var tid = $(this).attr('selfId');
                var type= $(this).data("type");
                var confirmMsg=(type==1)?"确定启用该供应商？":"确定禁用该供应商？";
                layer.confirm(
                    confirmMsg,
                    {icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/supplier/supDoDelete/'+tid+'/'+type,
                            method: 'post',
                            success: function (data) {
                                successLayout.reload();
                            },
                            error: function (response) {
                                layer.close(index);
                                errorLayout.normal(response);
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })

    })

</script>