<script type="text/javascript">

    $(document).ready(function () {
        var supplierParentSelect = $('#supSortId');
        var supplierChildSelect = $('#supSortChildId');
        supplierParentSelect.change(function () {
            var ftyId = $(this).val();
            if(!ftyId){
                supplierChildSelect.html('<option value="">- 请选择 -</option>');
                return
            }
            $.ajax({
                url: '/supplier/create/'+ftyId,
                method: 'get',
                success: function (data) {
                    var arry = eval(data);
                    supplierChildSelect.empty();
                    var html = '<option value="">- 请选择 -</option>';
                    if(arry.length == 0){
                        html = '<option value="">暂无分类</option>'
                    }else{
                        for(var i=0;i<arry.length;i++){
                            html +='<option value="'+arry[i].parentId+'">'+arry[i].name+'</option>';
                        }
                    }
                    supplierChildSelect.html(html);
                },
                error: function (response) {
                    $.smallBox({
                        title: "请求失败，请重试",
                        color: "#C46A69",
                        iconSmall: "fa fa-times fa-2x fadeInRight animated",
                        timeout: 3000
                    });
                }
            });
        })
        $("#supSortChildId").change(function () {
             var sortname=$("#supSortChildId option:selected").text();
             $("#sortNmae").val(sortname);
        })



        //禁用供应商
        $(".delete-supplier").on({
            click: function () {
                var tid = $(this).attr('selfId');
                var type= $("#urlType").val();
                layer.confirm('确定启用?',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/supplier/supDoDelete/'+tid+'/'+type,
                            method: 'post',
                            success: function (data) {
                                window.location.reload();
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })
        //启用供应商
        $(".openSupplierSort").on({
            click: function () {
                var tid = $(this).attr('selfId');
                var type= $("#urlType2").val();
                layer.confirm('确定禁用?',{icon: 3, title:'提示'},
                    function(index){
                        $.ajax({
                            url: '/supplier/supDoDelete/'+tid+'/'+type,
                            method: 'post',
                            success: function (data) {
                                window.location.reload();
                            }
                        });
                    },
                    function(index){layer.close(index)})
            }
        })
    })

</script>