<div class="orderItemLayerTit">
    <ul class="orderItemMenu">
        <a href="/report/suppRate/store">
            <li class="padding-10">
                门店补单率
            </li>
        </a>
        <a href="/report/suppRate/orderPeople">
            <li class="padding-10 ">
                下单员补单率
            </li>
        </a>
    </ul>
</div>

