<!-- well -->
<div class="well display-none">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12">
            <div class="col-xs-2">
                <div class="widget-body">

                    <div class="panel-group smart-accordion-default" id="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseOne" class="collapsed">
                                        <i class="fa fa-lg fa-angle-down pull-right"></i>
                                        <i class="fa fa-lg fa-angle-up pull-right"></i>
                                        与门店相关报表
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body no-padding">
                                    <ul class="template-ul">

                                        <li class="">
                                            <a href="/storeRep?type=99999996">
                                                设计师成交情况
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/storeRep?type=99999997">
                                                家具顾问成交情况
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="storeRep?type=99999995">
                                                查房成交情况
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-2">
                <div class="widget-body">

                    <div class="panel-group smart-accordion-default" id="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseTwo" class="collapsed">
                                        <i class="fa fa-lg fa-angle-down pull-right"></i>
                                        <i class="fa fa-lg fa-angle-up pull-right"></i>
                                        与工厂相关报表
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body no-padding">
                                    <ul class="template-ul">
                                        <li class="">
                                            <a href="/batchNumMatPricing">
                                                批次物料计价
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/orderMatPricing">
                                                订单物料计价
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/pageBatchByMonth">
                                                物料计价(按月)
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/orderCount">
                                                五金汇总
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/pageAccessoryByMonth">
                                                五金汇总(按月)
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="pickMateRep">
                                                领料单
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/outMateRep">
                                                出库
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="inMateRep">
                                                入库
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-2 display-none">
                <div class="widget-body">

                    <div class="panel-group smart-accordion-default" id="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseThree" class="collapsed">
                                        <i class="fa fa-lg fa-angle-down pull-right"></i>
                                        <i class="fa fa-lg fa-angle-up pull-right"></i>
                                        自定义模板
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body no-padding">
                                    <ul class="template-ul">

                                        <li class="">
                                            <a href="/">哈哈哈</a>
                                        </li>
                                        <li>暂无模板</li>
                                        <li>无所属工厂，无法操作自定义模板</li>
                                        <li>无所属工厂，无法操作自定义模板01</li>
                                        <li>无所属工厂，无法操作自定义模板02</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end well -->