<!-- well -->
<div class="well">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12">
            <% if (DWY_Helper.hasPermission(Permission.report.store.id, permission)){ %>
            <div class="col-xs-2">
                <div class="widget-body">

                    <div class="panel-group smart-accordion-default" id="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseOne" class="collapsed">
                                        <i class="fa fa-lg fa-angle-down pull-right"></i>
                                        <i class="fa fa-lg fa-angle-up pull-right"></i>
                                        门店相关报表
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body no-padding">
                                    <ul class="template-ul">

                                        <li class="">
                                            <a href="/storeRep">
                                                成交情况报表
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/report/suppRate/store">
                                                补单率报表
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/report/costRate/depart">
                                                成本率报表
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/report/store/cashFlow">
                                                门店对账单报表
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/report/store/sales">
                                                门店销售报表
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <%}%>
            <% if (DWY_Helper.hasPermission(Permission.report.factory.id, permission)){ %>
            <div class="col-xs-2">
                <div class="widget-body">

                    <div class="panel-group smart-accordion-default" id="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseTwo" class="collapsed">
                                        <i class="fa fa-lg fa-angle-down pull-right"></i>
                                        <i class="fa fa-lg fa-angle-up pull-right"></i>
                                        工厂相关报表
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body no-padding">
                                    <ul class="template-ul">
                                        <li class="">
                                            <a href="/batchNumMatPricing">
                                                批次物料计价
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/orderMatPricing">
                                                订单物料计价
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/pageBatchByMonth">
                                                物料计价(按月)
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/orderCount">
                                                五金汇总
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/pageAccessoryByMonth">
                                                五金汇总(按月)
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/pickMateRep">
                                                领料单
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/outMateRep">
                                                出库
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/inMateRep">
                                                入库
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/report/factory/workpiece_nesting">
                                                排料工件
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/report/factory/workpieceNesting/all">
                                                排料工件汇总
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/report/factory/part_nesting">
                                                排料配件
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/report/factory/partNesting/all">
                                                排料配件汇总
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/report/factory/workpiece_apart">
                                                拆单工件
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/report/factory/workpieceApart/all">
                                                拆单工件汇总
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/report/factory/part_apart">
                                                拆单配件
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/report/factory/partApart/all">
                                                拆单配件汇总
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <%}%>
            <% if (DWY_Helper.hasPermission(Permission.report.order.id, permission)){ %>
            <div class="col-xs-2">
                <div class="widget-body">

                    <div class="panel-group smart-accordion-default" id="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseThree" class="collapsed">
                                        <i class="fa fa-lg fa-angle-down pull-right"></i>
                                        <i class="fa fa-lg fa-angle-up pull-right"></i>
                                        订单相关报表
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body no-padding">
                                    <ul class="template-ul">

                                        <li>
                                            <a href="/report/order/source">
                                                订单来源分类报表
                                            </a>
                                        </li>
                                        <li class="display-none">
                                            <a href="/report/order/state">
                                                订单状态分类报表
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/report/order/product_detail">
                                                生产明细
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
          <%}%>

            <div class="col-xs-2">
                <div class="widget-body">

                    <div class="panel-group smart-accordion-default" id="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseFour" class="collapsed">
                                        <i class="fa fa-lg fa-angle-down pull-right"></i>
                                        <i class="fa fa-lg fa-angle-up pull-right"></i>
                                        图形报表
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body no-padding">
                                    <ul class="template-ul">
                                        <li class="">
                                            <a href="/echart/customer">
                                                客户统计报表
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/echart/order">
                                                订单统计表
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/echart/money">
                                                资金统计报表
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
</div>
<!-- end well -->