<!--新建属性值-->
<form class="form-horizontal  layer-template" method="post" id="attrValCreate-form" action="/material/attrValCreate" >
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span>上级名称:</label>
            <div class="col-xs-8 control-label strongStyle01 text-left" >
               <strong class="attrName"></strong>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span>新建值:</label>
            <div class="col-xs-6">
                <input class="form-control validate[required]" type="text"  value="" name="name" />
            </div>
        </div>
    </div>
    <input name="attrId" value='' type="hidden" id="attrId">
    <div class="col-xs-12" style="display: none;">
        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span>编码:</label>
            <div class="col-xs-6">
                <input class="form-control validate[required,custom[onlyNumberSp]]" type="text"  value="" name="" />
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit">
                <i class="fa fa-save"></i>
                新建
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>
<!--修改属性值-->
<form class="form-horizontal  layer-template" method="post" id="attrValChange-form" action="/material/attrValChange" >
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span>上级名称:</label>
            <div class="col-xs-8 control-label strongStyle01 text-left" >
                <strong class="attrName"></strong>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span>名称:</label>
            <div class="col-xs-6">
                <input class="form-control validate[required]" type="text"  value="" name="name" id="attrValChangeName" />
            </div>

        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-xs-2 control-label"><span class="requird"></span>编码:</label>
            <div class="col-xs-6">
                <input class="form-control validate[required,custom[onlyNumberSp]]" type="text"  value="" name="code" id="attrValChange"/>
            </div>
            <input name="attrId" value="" type="hidden" id="attrValId">
        </div>
    </div>

    <div class="col-xs-12">
        <hr class="simple">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary " type="submit">
                <i class="fa fa-save"></i>
                修改
            </button>
        </div>
    </div>
    <div class="dwy-clear"></div>
</form>

<script type="text/javascript">

    $(document).ready(function () {

        $("#attrValCreate-form").validationEngine();
        $("#attrValChange-form").validationEngine();

        // 新建属性值
        $('.attrValCreate').on({
            click: function (e) {
                    $(".attrName").text($(this).data("name"));//显示上级名称
                    $("#attrId").val($(this).data("id"));//获取属性id
                layer.open({
                    title: false,
                    type: 1,
                    area: '500px',
                    content: $('#attrValCreate-form'),
                    cancel: function () {
                        // 右上角关闭回调
                    },

                });
            }
        })
        // 修改属性值
        $('.attrValChange').on({
            click: function (e) {
                $(".attrName").text($(this).data("pname"));// 显示上级名称
                $("#attrValChangeName").val($(this).data("name"));// 显示名称
                $("#attrValChange").val($(this).data("code"));// 显示编码
                $("#attrValId").val($(this).data("id"));// 获取上级名称id
                layer.open({
                    title: false,
                    type: 1,
                    area: '500px',
                    content: $('#attrValChange-form'),
                    cancel: function () {
                        // 右上角关闭回调
                    },

                });
            }
        })
    })

</script>